* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.bg-img {
  background-color: #8B7B6B;
  color: black;
  text-align: center; }

.navBar {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

ul li a {
  color: white; }

.navBar a {
  float: left; }

ul li {
  list-style: none; }

a {
  text-decoration: none; }

.img {
  background: url(../assets/img/the-flooded-city-nier-automata.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }

.img1 {
  text-align: center;
  width: 1700px;
  height: 850px; }

.premios {
  text-decoration: underline;
  font-size: 50px;
  line-height: 150%; }

.img {
  text-align: center;
  font-size: 20px;
  font-weight: 20px; }

.parrafo6 {
  font-weight: bold; }

.contenedor8 {
  background-color: #9ca9eb;
  text-align: center;
  font-weight: bold;
  line-height: 125%;
  font-family: "Jura", sans-serif;
  line-height: 190%; }

.historia {
  text-align: center;
  text-decoration: underline;
  font-family: "Jura", sans-serif; }

.contenedor2 {
  text-align: center;
  background-color: #BEC5EA; }

.h1 {
  display: flex;
  justify-content: space-evenly;
  font-size: 50px; }

.parrafo1 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-decoration: underline;
  line-height: normal; }

.parrafo2 {
  display: flex;
  justify-items: center;
  font-size: 20px;
  line-height: 125%; }

.parrafo3 {
  display: flex;
  justify-content: center;
  font-size: 22px;
  text-decoration: underline;
  line-height: normal; }

.parrafo4 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  text-decoration: underline;
  line-height: normal; }

.pj {
  min-width: 200px;
  flex: auto; }

.galery {
  background-color: #dac7fa;
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  padding: 30px;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%; }

.galery-img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.galery-picture {
  min-width: 200px;
  flex: 500px; }

.title {
  text-align: center;
  text-decoration: underline;
  background-color: #dac7fa; }

.contenedor9 {
  width: 100%;
  text-align: center;
  background-color: #F0D2D2; }

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(26, 95px);
  text-align: center; }

.grid-item1 {
  background-color: #f59898;
  text-decoration: underline;
  font-weight: bold;
  justify-content: center; }

.grid-item2 {
  background-color: #f59898;
  text-decoration: underline;
  font-weight: bold;
  justify-content: none; }

.grid-item3 {
  background-color: #f59898;
  text-decoration: underline;
  font-weight: bold;
  justify-content: none; }

.grid {
  grid-column-start: 1;
  justify-self: center;
  align-self: center; }

.grid1 {
  width: 200px;
  height: 95px;
  grid-column-start: 1;
  justify-self: center; }

.text, .text1, .text3, .text4, .text5, .text6, .text7, .text8, .text9, .text10, .text11, .text12, .text13, .text14, .text15, .text16, .text17, .text18, .text19, .text20, .text21, .text22, .text23 {
  grid-column-start: 2;
  grid-row-start: 2;
  align-self: center;
  font-size: 20px; }

.text1 {
  grid-row-start: 3; }

.text2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  align-self: flex-end;
  font-size: 20px; }

.text3 {
  grid-row-start: 6; }

.text4 {
  grid-row-start: 7; }

.text5 {
  grid-row-start: 8; }

.text6 {
  grid-row-start: 9; }

.text7 {
  grid-row-start: 10; }

.text8 {
  grid-row-start: 11; }

.text9 {
  grid-row-start: 12; }

.text10 {
  grid-row-start: 13; }

.text11 {
  grid-row-start: 14; }

.text12 {
  grid-row-start: 15; }

.text13 {
  grid-row-start: 16; }

.text14 {
  grid-row-start: 17; }

.text15 {
  grid-row-start: 18; }

.text16 {
  grid-row-start: 19; }

.text17 {
  grid-row-start: 20; }

.text18 {
  grid-row-start: 21; }

.text19 {
  grid-row-start: 22; }

.text20 {
  grid-row-start: 23; }

.text21 {
  grid-row-start: 24; }

.text22 {
  grid-row-start: 25; }

.text23 {
  grid-row-start: 26; }

.name, .name1, .name2, .name3, .name4, .name5, .name6, .name7, .name8, .name9, .name10, .name11, .name12, .name13, .name14, .name15, .name16, .name17, .name18, .name19, .name20, .name21, .name22 {
  grid-column-start: 3;
  grid-row-start: 2;
  align-self: center;
  font-size: 20px; }

.name1 {
  grid-row-start: 3; }

.name2 {
  grid-row-start: 4;
  grid-row-end: 5; }

.name3 {
  grid-row-start: 6; }

.name4 {
  grid-row-start: 7; }

.name5 {
  grid-row-start: 8; }

.name6 {
  grid-row-start: 9; }

.name7 {
  grid-row-start: 10; }

.name8 {
  grid-row-start: 11; }

.name9 {
  grid-row-start: 12; }

.name10 {
  grid-row-start: 13; }

.name11 {
  grid-row-start: 14; }

.name12 {
  grid-row-start: 15; }

.name13 {
  grid-row-start: 16;
  grid-row-end: 17; }

.name14 {
  grid-row-start: 18; }

.name15 {
  grid-row-start: 19; }

.name16 {
  grid-row-start: 20; }

.name17 {
  grid-row-start: 21; }

.name18 {
  grid-row-start: 22; }

.name19 {
  grid-row-start: 23; }

.name20 {
  grid-row-start: 24; }

.name21 {
  grid-row-start: 25; }

.name22 {
  grid-row-start: 26; }

.contenedor {
  text-align: center;
  background-color: black; }

.contact {
  text-align: center;
  color: white; }

.parrafo {
  line-height: 150%;
  color: white; }

.img2 {
  width: 150px;
  height: 200px; }

.img3 {
  width: 190px;
  height: 100px; }

.img4 {
  width: 150px;
  height: 150px; }

.img5 {
  width: 200px;
  height: 200px; }

.img6 {
  width: 300px;
  height: 150px; }

@media (max-width: 1440px) {
  .logo {
    background-color: #8B7B6B;
    text-align: center; }
  .img1 {
    width: 100%;
    height: 100%; }
  .imgA {
    width: 100%; }
  .parrafo5 {
    font-size: 20px;
    line-height: 150%; } }

@media (max-width: 1024px) {
  .logo {
    background-color: #8B7B6B; }
  .img1 {
    height: 100%; }
  .parrafo5 {
    font-size: 20px;
    line-height: 150%; } }

@media (max-width: 700px) {
  .pj {
    width: 100%; } }

@media (max-width: 768px) {
  .premios {
    font-size: 30px; }
  .img {
    font-size: 15px; }
  .logo {
    background-color: #8B7B6B; }
  .contenedor4 {
    background-color: #dac7fa; }
  .img7 {
    width: 90%;
    height: 90%; }
  .parrafo5 {
    font-size: 20px;
    line-height: 150%; } }

@media (max-width: 425px) {
  .img8 {
    width: 100%; }
  .img0 {
    width: 425px; }
  .pj {
    width: 70%; }
  .parrafo1 {
    font-size: 20px;
    font-weight: bold; }
  .parrafo3 {
    font-size: 20px;
    font-weight: bold; }
  .parrafo4 {
    font-size: 20px;
    font-weight: bold; }
  .img10 {
    width: 421px;
    height: 250px; }
  .img7 {
    width: 90%;
    height: 90%; }
  .img9 {
    width: 400px;
    height: 100%; }
  .video {
    width: fit-content;
    height: max-content; }
  .parrafo5 {
    font-size: 17px;
    line-height: 150%; }
  .img2 {
    width: 100px;
    height: 100px; }
  .img4 {
    width: 100px;
    height: 100px; }
  .img5 {
    width: 150px;
    height: 150px; }
  .img6 {
    width: 200px;
    height: 100px; }
  .contenedor8 {
    font-size: 14px; } }

@media (max-width: 375px) {
  .img8 {
    width: 100%; }
  .parrafo6 {
    font-size: 15px; }
  .img0 {
    width: 100%; }
  .pj {
    width: 100%; }
  .parrafo2 {
    font-size: 15px; }
  .img7 {
    width: 90%; }
  .img10 {
    width: 100%; }
  .grid1 {
    width: 100%; }
  .img9 {
    width: 90%; }
  .parrafo5 {
    font-size: 15px;
    line-height: 150%; }
  .img2 {
    width: 100px;
    height: 100px; }
  .img4 {
    width: 100px;
    height: 100px; }
  .img5 {
    width: 100px;
    height: 100px; }
  .img6 {
    width: 100px;
    height: 100px; }
  .contenedor8 {
    font-size: 12px; } }

@media (max-width: 320px) {
  .navBar {
    width: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly; }
  .img9 {
    width: 90%; }
  .grid1 {
    width: 100%; }
  .name, .name1, .name2, .name3, .name4, .name5, .name6, .name7, .name8, .name9, .name10, .name11, .name12, .name13, .name14, .name15, .name16, .name17, .name18, .name19, .name20, .name21, .name22, .name1, .name2, .name3, .name4, .name5, .name6, .name7, .name8, .name9, .name10, .name11, .name12, .name13, .name14, .name15, .name16, .name17, .name18, .name19, .name20, .name21, .name22 {
    font-size: 12px; }
  .text, .text1, .text3, .text4, .text5, .text6, .text7, .text8, .text9, .text10, .text11, .text12, .text13, .text14, .text15, .text16, .text17, .text18, .text19, .text20, .text21, .text22, .text23, .text1, .text3, .text4, .text5, .text6, .text7, .text8, .text9, .text10, .text11, .text12, .text13, .text14, .text15, .text16, .text17, .text18, .text19, .text20, .text21, .text22, .text23 {
    font-size: 12px; }
  .text2 {
    font-size: 12px; }
  .contenedor4 {
    width: 100%;
    max-width: 200px; }
  .parrafo5 {
    font-size: 15px;
    line-height: 150%; }
  .img2 {
    width: 100px;
    height: 100px; }
  .img4 {
    width: 100px;
    height: 100px; }
  .img5 {
    width: 100px;
    height: 100px; }
  .img6 {
    width: 100px;
    height: 100px; }
  .parrafo {
    font-size: 15px; }
  .contenedor8 {
    font-size: 10px; } }
