@media (max-width:375px){
    .img8{
        width: 100%;
    }
    .parrafo6{
        font-size: 15px;
    }
    .img0{
        width: 100%;
    }
    .pj{
        width: 100%;
    }
    .parrafo2{
        font-size: 15px;
    }
    .img7{
        width: 90%;
    }
    .img10{
        width: 100%;
    }
}