@media (max-width:425px){
    .img8{
        width: 100%;
    }
    .img0{
        width: 425px;
    }
    .pj{
        width: 100%;
    }
    .parrafo1{
        font-size: 20px;
        font-weight: bold;
    }
    .parrafo3{
        font-size: 20px;
        font-weight: bold;
    }
    .parrafo4{
        font-size: 20px;
        font-weight: bold;
    }
    .img10{
        width: 421px;
        height: 250px;
    }
    .img7{
        width: 90%;
        height: 90%;
    }
    .img9{
        width: 400px;
        height: 100%;
    }
    .video{
        width: fit-content;
        height: max-content;
    }
}