@media (max-width:375px){
    .img8{
        width: 100%;
    }
    .parrafo6{
        font-size: 15px;
    }
    .img0{
        width: 100%;
    }
    .pj{
        width: 100%;
    }
    .parrafo2{
        font-size: 15px;
    }
    .img7{
        width: 90%;
    }
    .img10{
        width: 100%;
    }
    .grid1{
        width: 100%;
    }
    .img9{
        width: 90%;
    }
    .parrafo5{
        font-size: 15px;
        line-height: 150%;
    }
    .img2{
        width: 100px;
        height: 100px;
    }
    .img4{
        width: 100px;
        height: 100px;
    }
    .img5{
        width: 100px;
        height: 100px;
    }
    .img6{
        width: 100px;
        height: 100px;
    }
    .contenedor8{
        font-size: 12px;
    }
}