@media (max-width:1024px){
    .logo{
        background-color: map-get($colores, logo);
    }
    .img1{
        height: 100%;
    }
    .parrafo5{
        font-size: 20px;
        line-height: 150%;
    }
}