$colores:(
    logo: #8B7B6B,
    espacio: black,
    letra: white,
    fondo: #9ca9eb,
    fondo1: #BEC5EA,
    fondo2: rgb(218, 199, 250),
    fondo3: #F0D2D2,
    fondo4: #f59898,
);
$tamaños:(
    redes: 150px,
    redes1: 200px,
    redes2: 190px,
    redes3: 100px,
    redes4: 230px,
    redes5: 100px,
    redes6: 200px,
    redes7: 200px,
    redes8: 300px,
    redes9: 150px,
    foto: 95px,
);